// DO NOT INCLUDE THIS FILE DIRECTLY
// INSTEAD, INCLUDE "GRDBCustomSQLite.h"

//
// INSERT ANY ADDITIONAL SQLITE DEFINES HERE:
//
// -----------------------------------------

// #define SQLITE_ENABLE_PREUPDATE_HOOK
// #define SQLITE_ENABLE_FTS5

// -----------------------------------------
//

