[submodule "Tests/Performance/fmdb"]
	path = Tests/Performance/fmdb
	url = https://github.com/ccgus/fmdb.git
[submodule "Tests/Performance/SQLite.swift"]
	path = Tests/Performance/SQLite.swift
	url = https://github.com/stephencelis/SQLite.swift.git
