body {
  margin: 1em auto;
  padding: 0 25px;
  max-width: 50em;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  color: #111;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
  padding: 0;
  margin: 1.5em 0 0;
  color: #444;
}

h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin: 2em 0 1em;
  color: #444;
}

p {
  padding: 0;
  margin: 1em 0;
}

h1, h2, p, li {
  line-height: 1.33em;
}

header {
  margin-bottom: 4em;
  text-align: center;
}

header p {
  color: #777;
  margin-top: 0.25em;
}

header a.button {
  display: inline-block;
  text-decoration: none;
  background-color: #0071bc;
  color: #fff;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 1em;
}

header a.button:hover {
  background-color: #205493;
}

header a.button:active {
  background-color: #112e51;
}

strong {
  color: #444;
}

a {
  color: #0071bc;
}

a:visited {
  color: #4c2c92;
}

ul.toggles {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.toggles li {
  margin: 0;
  padding: 0;
}

input.toggle {
  display: none;
}

input.toggle + label {
  display: block;
  cursor: pointer;
  color: #0071bc;
}

input.toggle + label::before {
  content: "▸";
  color: #111;
  display: inline-block;
  width: 1em;
}

input.toggle + label + * {
  display: none;
}

input.toggle:checked + label {
  margin-bottom: 1em;
}

input.toggle:checked + label::before {
  content: "▾";
}

input.toggle:checked + label + * {
  display: block;
}
