#include "GRDBDeploymentTarget.xcconfig"
INFOPLIST_FILE = Support/Info.plist
PRODUCT_NAME = GRDBCipher
PRODUCT_BUNDLE_IDENTIFIER = com.github.groue.$(PRODUCT_NAME:rfc1034identifier)
MODULEMAP_FILE = $(SRCROOT)/SQLCipher/module.modulemap
OTHER_CFLAGS = -DSQLITE_HAS_CODEC
OTHER_SWIFT_FLAGS = -D SQLITE_HAS_CODEC -D USING_BUILTIN_SQLITE -D GRDBCIPHER -D SQLITE_ENABLE_FTS5
HEADER_SEARCH_PATHS = $(SRCROOT)/SQLCipher/src
